@use '../../abstracts'as v;

.covers__list_item {
    overflow: hidden;
    position: relative;
    // border: 2.5px solid v.$main_color;

    &:hover {
        .covers__list_image {
            img {

                &.covers--blur {
                    filter: blur(9px);
                }

                &.covers--zoom-out {
                    transform: scale(0);
                }

                &.covers--zoom-out-middle {
                    transform: scale(.9);
                }

                &.covers--rotate {
                    transform: rotateY(180deg);
                    // filter: grayscale(100%);
                }
            }
        }

        .covers__list--back {
            opacity: 1;
            z-index: 3;
            transform: scale(1);

            &.covers--zoom-in {
                transform: scale(1);
                background-color: v.$main_color_alpha_5;
            }
        }
    }
}