@use '../../abstracts'as v;

@use '../../utility/'as u;

.covers__list_item {
    overflow: hidden;
    position: relative;
    // border: 2.5px solid v.$main_color;

    &:hover {
        .covers__list_image {
            img {
                &.blur {
                    @include u.setEffect('filter', 'blur', false, false);
                }

                &.scale {
                    @include u.setEffect(transform, 'scale', true, false);
                }

                &.rotate {
                    @include u.setEffect(transform, 'rotate', false, true);
                }
            }
        }

        .covers__list--back {
            opacity: 1;
            z-index: 3;
            background-color: v.$main_color_alpha_5;
        }
    }
}