@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

::-moz-selection {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(1, 171, 241, 0.5);
}

::selection {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(1, 171, 241, 0.5);
}

.covers {
  padding: 15px;
  background-color: #090b17;
}

.covers__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3em;
  letter-spacing: 1.1px;
  padding: 12px 0;
  text-shadow: 3px 3px 5px #01abf1;
  color: #01abf1;
}

.covers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.covers__list_item {
  overflow: hidden;
  position: relative;
}
.covers__list_item:hover .covers__list_image img.covers--blur {
  -webkit-filter: blur(9px);
          filter: blur(9px);
}
.covers__list_item:hover .covers__list_image img.covers--zoom-out {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.covers__list_item:hover .covers__list_image img.covers--zoom-out-middle {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.covers__list_item:hover .covers__list_image img.covers--rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.covers__list_item:hover .covers__list--back {
  opacity: 1;
  z-index: 3;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.covers__list_item:hover .covers__list--back.covers--zoom-in {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(1, 171, 241, 0.5);
}

.covers__list--back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  background-color: transparent;
}
.covers__list--back.cover--scale {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.covers__list_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.1em;
  width: 155px;
  color: white;
}

.covers__list_date {
  font-size: 1em;
  color: white;
}

.covers__list_rating {
  font-size: 0.9em;
  color: white;
}

.covers__list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 5px 9px;
  border-radius: 7px;
  font-size: 0.9em;
  border: 1px solid #01abf1;
  color: white;
  background-color: #01abf1;
}

.covers__list_image {
  width: 185px;
  height: 263px;
}
.covers__list_image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(35%);
          filter: grayscale(35%);
  -webkit-transition: -webkit-filter 0.3s, -webkit-transform 0.3s;
  transition: -webkit-filter 0.3s, -webkit-transform 0.3s;
  transition: filter 0.3s, transform 0.3s;
  transition: filter 0.3s, transform 0.3s, -webkit-filter 0.3s, -webkit-transform 0.3s;
}
/*# sourceMappingURL=main.css.map */